# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/

# Stegsik Specific
backend/uploads/
backend/outputs/
backend/wordlist.txt
*.out
*.log
.gemini/


# IDEs
.vscode/
.idea/

# Celery
celerybeat-schedule
celerybeat.pid

# System
.DS_Store
Thumbs.db
.agent/


